{% extends "base_dashboard.html" %}
{% load staticfiles %}

{% block title %}
Add Robot
{% endblock %}

{% block pageheader %}
Add Robot
{% endblock %}

{% block content %}

{% if message %}
{{message}}
<br>
<br>
{% endif %}
<div class="row">
  <div class="col-md-6">
    <form action="{% url 'robot_add' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Team Number</label>
      <input class="textInput form-control" type="text" name="team_number" value="">
      <label>Year</label>
      <input class="textInput form-control" type="text" name="year" value="">
      <label>Robot Name</label>
      <input class="textInput form-control" type="text" name="name" value="">
      <label>Image</label>
      <input class="form-control-file" type="file" name="image" accept="image/png, image/jpeg">
      <label>Image2</label>
      <input class="form-control-file" type="file" name="image2" accept="image/png, image/jpeg">
      <label>Image3</label>
      <input class="form-control-file" type="file" name="image3" accept="image/png, image/jpeg">
      <label>Image4</label>
      <input class="form-control-file" type="file" name="image4" accept="image/png, image/jpeg">
      <label>Image5</label>
      <input class="form-control-file" type="file" name="image5" accept="image/png, image/jpeg">
      <br>
      <button class="primaryAction btn btn-primary" type="submit">Submit Robot</button>
    </form>
  </div>
</div>

{% endblock %}
