<title>FRCScouting | 403</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <h1 class="text-left">403 - Permission Denied</h1>
  <img src= "{% static "ContentPages/error_images/CautionTape-big.png"%}" height = 400 width = 400 />
  <br>
  <p>The earthquake was not good to the bike lane on your way to work. A large gap in the pavement (too big to be called a pothole) had swallowed three oblivious bikers whole. So the city had put up two pylons and yellow caution tape. Pretty frustrating for you given your propensity to do 360 jumps over the gap.</p>
</section>
{% endblock %}
