<title>FRCScouting | 500</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <h1 class="text-left">500 - Server Error</h1>
  <img src= "{% static 'ContentPages/error_images/Kid'sToy-big.png'%}" height = 400 width = 40>
  <br>
  <p>You have been trying for ten minutes. It’s pretty late at night and pretty dark in your room. You reach over and flick on a lamp. You feel oh so stupid. The gap in the toy is a triangle and you only have the cylinder and cube pieces. In dismay you toss the toy aside. Curse your five year old’s inability to keep track of the triangle!</p>
</section>
{% endblock %}
