<title>FRCScouting | Game Manuals</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <h1 class="text-left">Game Manuals</h1>
</section>
<br>
<div class="container">
  <div class="row">
    {% for gamemanual in gamemanuals.all%}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{gamemanual.image.url}}" </img>
        <div class="card-body">
          <p class="card-text"><a href={{gamemanual.file.url}}>{{gamemanual.year}} {{gamemanual.name}}</a></p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
<br>


{% endblock %}
