<title>FRCScouting | Robots</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <h1 class="text-left">Robots</h1>
</section>
<div class="container">
  {% if message %}
  <h4 class="text-success">{{message}}</h4>
  {% endif %}

  <div class="album py-5">
    <div class="container">
      <div class="row">
        {% for robot in robots%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{robot.mainimage.url}}"/>
            <div class="card-body">
              <h5 class="card-title">{{robot.team_number}}</h5>
              <p class="card-text">Year: {{robot.year}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
