<title>FRCScouting | Why Ads?</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <h1 class="text-left">Why Ads?</h1>
</section>
  <div class="container">
    <p>Sometimes it is asked why we have ads on our website. There are ads on FRCScouting.ca because it is expensive to run the service free for users. Every month there are expenses regardless of if there are any events running. All income from ads is used to fund this website and improvements to the site.</p>
    <table style="width:100%">
      <tr>
        <th>Expense</th>
        <th>Occurances per year</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td>Google Domains</td>
        <td>1</td>
        <td>$19.21</td>
      </tr>
      <tr>
        <td>Web Server</td>
        <td>12</td>
        <td>$6.55</td>
      </tr>
      <tr>
        <td>Database</td>
        <td>12</td>
        <td>$18.07</td>
      </tr>
      <tr>
        <td></td>
        <td><b>Total per year</b></td>
        <td><b>$314.65</b></td>
      </tr>
    </table>
  </div>
{% endblock %}
