{% load staticfiles %}
<hr>
<div class="container text-center text-muted">
  <p>FRCScouting is open source <a href="https://github.com/xNovax/FRCScouting.ca/"><img src= "{% static "ContentPages/Github_Icon.png"%}" height = 20 width = 20</img></a>
    <br>
    <a href ="{% url 'about' %}">About<a/> - <a href ="{% url 'contactus' %}">Contact<a/> - <a href ="{% url 'licenses' %}">Licenses<a/> - <a href ="{% url 'privacy' %}">Privacy<a/> - <a href ="https://github.com/xNovax/FRCScouting.ca/issues/new?assignees=&labels=&template=bug_report.md&title=">Report a Bug<a/>
    </p>
</div>
