<title>FRCScouting | Login</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Login</h2>
      <p>If you have not created an account yet, then please
        <a href="{%url 'signup'%}">sign up</a> first.</p>
      <form class="" action="{%url 'login'%}" method="post">
        {% csrf_token %}
        Username:
        <br>
        <input class="textinput textInput form-control"type="text" name="username" value="">
        <br>

        Password:
        <br>
        <input class="textinput textInput form-control" type="password" name="password" value="">
        <br>
        <button class="primaryAction btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    </div>
  </div>
  {% endblock %}
