<title>FRCScouting | Login</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
  <div class="row">
    <div class="col-4">
      <h2>Login</h2>
      <form class="" action="{%url 'login'%}" method="post">
        {% csrf_token %}
        Username:
        <br>
        <input type="text" name="username" value="">
        <br>

        Password:
        <br>
        <input type="password" name="password" value="">
        <br>

        <br>
        <input class="btn btn-primary" type="submit" name="submit" value="Login">
      </form>
    </div>
    <div class="col-4">
      <h2>Signup</h2>
      <p>Do you need to make an account?</p>
      <p>Click <a href="{% url 'signup'%}">here</a></p>
      </div>
    </div>
  </div>
  {% endblock %}
