<title>FRCScouting | Settings</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
  <br>
  <form>
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First name</label>
        <input type="email" class="textinput textInput form-control" id="inputEmail4" placeholder="{{user.first_name}}">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last name</label>
        <input type="password" class="textinput textInput form-control" id="inputPassword4" placeholder="{{user.last_name}}">
      </div>

      <div class="form-group col-md-6">
        <label for="inputAddress">Email</label>
        <input type="text" class="textinput textInput form-control" id="inputAddress" placeholder="{{user.email}}">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Country</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="{{user.country}}">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword4">Team Number</label>
        <input type="password" class="textinput textInput form-control" id="inputPassword4" placeholder="{{user.team_number}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
