<title>FRCScouting | Signup</title>
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
{% if error %}
{{error}}
<br>
<br>
{% endif %}
<div class="row">
  <div class="col-md-6 offset-md-3">
  <br>
  <h2>Sign up!</h2>
  <p>Already have an account? Then
    <a href="{%url 'login'%}">login</a></p>
  <form class="" action="{%url 'signup'%}" method="post">
    {% csrf_token %}
    Username:
    <br>
    <input class="textinput textInput form-control" type="text" name="username" value=""/>
    <br>

    Password:
    <br>
    <input class="textinput textInput form-control" type="password" name="password1" value=""/>
    <br>

    Confirm Password:
    <br>
    <input class="textinput textInput form-control" type="password" name="password2" value=""/>
    <br>

    First name:
    <br>
    <input class="textinput textInput form-control" type="text" name="firstname" value=""/>
    <br>

    Last name:
    <br>
    <input class="textinput textInput form-control" type="text" name="lastname" value=""/>
    <br>

    Email Address:
    <br>
    <input class="textinput textInput form-control" type="email" name="email" value=""/>
    <br>

    By clicking Sign up, you agree to our <a href="{%url 'terms'%}">Terms</a> and that you have read our <a href="{%url 'privacy'%}">Privacy Policy</a>.
    <br>
    <br>

    <button class="primaryAction btn btn-primary" type="submit">Sign up</button>
  </form>
  </div>
  </div>
</div>

{% endblock %}
