{% extends "base_dashboard.html" %}
{% load staticfiles %}

{% block title %}
Admin
{% endblock %}

{% block pageheader %}
Admin | Control Panel
{% endblock %}

{% block content %}
<div class="container">
  {% if error %}
    <font color="red">{{error}}</font>
    <br>
    <br>
  {% endif %}

  {% if message %}
    <font color="green">{{message}}</font>
    <br>
    <br>
  {% endif %}

  <div class="row">
    <div class="col-md-11">
      <h2>Load Data</h2>
      <a href="{% url 'tba_admin_teams_loaddata' %}" class="btn btn-info ml-4 mr-sm-2">Load Teams</a>
      <br>
      <a href="{% url 'tba_admin_events_loaddata' %}" class="btn btn-info mt-2 ml-4 mr-sm-2">Load Events</a>
    </div>
  </div>
</div>
{% endblock %}
