{% extends "base_dashboard.html" %}
{% load staticfiles %}

{% block title %}
Event Information
{% endblock %}

{% block pageheader %}
Event Information
{% endblock %}

{% block content %}
<div class="container">
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <form class="" action="{%url 'tba_eventinfo'%}" method="post">
        {% csrf_token %}
        Select an event:
        <br>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Choose...</option>
          <option value="2016" disabled>-- 2016 --</option>
          {%for event in events2016%}
            <option value ="{{event}}">{{event}}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <button class="primaryAction btn btn-primary" type="submit">Look up</button>

      </form>
    </div>
  </div>
</div>
{% endblock %}
