{% extends "base_dashboard.html" %}
{% load staticfiles %}

{% block title %}
Event Information
{% endblock %}

{% block pageheader %}
Event Information
{% endblock %}

{% block content %}
<div class="container">
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <form class="" action="{%url 'tba_eventinfo'%}" method="post">
        {% csrf_token %}
        Select an event:
        <br>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">

          <option value="2016" disabled selected>-- 2016 --</option>
          {%for event in events2016%}
            <option value ="{{event.key}}">{{event.key}} - {{event.name}}</option>
          {% endfor %}

          <option value="2017" disabled>-- 2017 --</option>
          {%for event in events2017%}
            <option value ="{{event.key}}">{{event.key}} - {{event.name}}</option>
          {% endfor %}

          <option value="2018" disabled>-- 2018 --</option>
          {%for event in events2018%}
            <option value ="{{event.key}}">{{event.key}} - {{event.name}}</option>
          {% endfor %}

          <option value="2019" disabled>-- 2019 --</option>
          {%for event in events2019%}
            <option value ="{{event.key}}">{{event.key}} - {{event.name}}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <button class="primaryAction btn btn-primary" type="submit">Look up</button>

      </form>
    </div>
  </div>
</div>
{% endblock %}
